button {
  border: 0 none;
}

#image-wrapper {
  width: 800px;
  height: 800px;
}

.draggable-Knob {
  margin-left: 590px;
  margin-top: -332px;
  height: 200px;
  border-radius: 100px;
}

.draggable-Small {
  position: absolute;
  left: 92px;
  top: 83px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

div.relative {
  position: relative;
  width: 400px;
  height: 200px;
}

div.absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 100px;
}

.button {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #1f2324;
}

.button:focus {
  outline: 0;
}

#btn-Scan {
  background-image: url("../../images/btn330_Low1.png");
  width: 49px;
  height: 30px;
}

#btn-DW {
  background-image: url("../../images/btn330_Low2.png");
  width: 49px;
  height: 29px;
}

#btn-CH_WX {
  background-image: url("../../images/btn330_Low3.png");
  width: 49px;
  height: 29px;
}

#btn-HI_LO {
  background-image: url("../../images/btn330_Low4.png");
  width: 49px;
  height: 29px;
}

.buttons-on-bottom {
  display: flex;
  margin-top: -166px;
  margin-left: 312px;
  width: fit-content;
  height: 32px;
}

.buttons-on-bottom > div {
  margin-left: 4px;
  width: 49px;
}

.buttons-on-bottom .div-HI_LO {
  margin-left: 5px;
}

.blue-button {
  background-color: transparent;
}

.temp {
  margin-top: -47px;
  margin-left: 539px;
  width: 32px;
  height: 32px;
}

#btn-Temp {
  background-image: url("../../images/temp.png");
  width: 32px;
  height: 32px;
}

.side-buttons {
  margin-top: -170px;
  margin-left: 553px;
  width: 113px;
  height: 32px;
}

.side-buttons > div {
  margin-bottom: 7px;
  height: 27px;
}

.side-buttons .button {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

.top-row {
  justify-content: center;
}

.top-row > div {
  text-align: center;
}

.middle-row {
  display: flex;
  justify-content: space-between;
}

.bottom-row {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.div-button-left {
  width: 28px;
  height: 35px;
}

.div-enter {
  margin-top: 2px;
  width: 37px;
  height: 30px;
}

.div-button-right {
  width: 29px;
  height: 35px;
}

.div-button-menu {
  margin-top: 8px;
  margin-left: -1px;
  width: 31px;
  height: 24px;
}

.div-down {
  margin-top: -2px;
  margin-left: 1px;
  width: 40px;
  height: 25px;
}

.div-button-clear {
  margin-top: 7.5px;
  width: 32px;
  height: 25px;
}

#btn-left {
  background-image: url("../../images/btn330LEFT.png");
  width: 28px;
  height: 35px;
}

#btn-up {
  background-image: url("../../images/btn330UP.png");
  width: 41px;
  height: 25px;
}

#btn-right {
  background-image: url("../../images/btn330RIGHT.png");
  width: 29px;
  height: 35px;
}

#btn-down {
  background-image: url("../../images/btn330DOWN.png");
  width: 40px;
  height: 25px;
}

#btn-enter {
  background-image: url("../../images/btn330ENT.png");
  width: 37px;
  height: 30px;
}

#btn-menu {
  background-image: url("../../images/btn330MENU.png");
  width: 31px;
  height: 24px;
}

#btn-clear {
  background-image: url("../../images/btn330CLR.png");
  width: 33px;
  height: 25px;
}

/*.div-distress-container {*/
/*  position: relative;*/
/*  height: 69px;*/
/*  width: fit-content;*/
/*  !*background-color: #4753ed;*!*/
/*}*/

/*.div-distress-container:hover .img-distress {*/
/*  -webkit-transform: scaleY(-1);*/
/*  transform: scaleY(-1);*/
/*  margin-top: -45px;*/
/*}*/

/*.btn-below-distress {*/
/*  width: 40px;*/
/*  height: 20px;*/
/*  background-color: red;*/
/*}*/

/*.btn-below-distress:focus {*/
/*  outline: 0;*/
/*}*/

/*.div-btn-below-distress {*/
/*  margin-top: -20px;*/
/*  margin-left: 7px;*/
/*}*/

.div-screen-container {
  margin-left: 321px;
  margin-top: -9px;
}

.menupoints-container {
  margin-top: -100px;
  margin-left: 20px;
}

.text-container > div {
  font-size: 13px;
}

.arrow-point {
  display: none;
  position: absolute;
  margin-left: -14px;
  margin-top: -1px;
}

.first-arrow-point {
  display: block;
}

.menu-text {
  width: fit-content;
  height: fit-content;
}

.point {
  margin-top: 1px;
}

.fourth-screen {
  margin-top: -102px;
}
